pickleshare==0.7.5
backcall==0.2.0
xlrd==1.2.0
dateparser==1.2.0
mtcnn==1.0.0
fpdf==1.7.2
flatbuffers==24.3.25
shellingham==1.5.4
torchmetrics==1.4.2
unstructured-client==0.15.2
gensim==3.8.0
w3lib==2.1.2
google-ai-generativelanguage==0.4.0
pyasn1==0.4.8
arrow==1.3.0
semantic-version==2.10.0
multidict==6.0.4
decorator==4.4.2
async-lru==2.0.4
h5py==3.11.0
fastjsonschema==2.19.1
torch-tb-profiler==0.4.3
ply==3.11
nbclient==0.10.0
jupyterlab_server==2.25.4
MouseInfo==0.1.3
coloredlogs==15.0.1
aiohttp-retry==2.8.3
uri-template==1.3.0
humanfriendly==10.0
pydantic_core==2.23.4
kiwisolver==1.4.5
moviepy==1.0.3
rfc3339-validator==0.1.4
contourpy==1.1.1
tensorflow==2.18.0
wandb==0.18.5
pexpect==4.9.0
update-checker==0.18.0
pydeck==0.8.1b0
Pillow==9.5.0
absl-py==2.1.0
opentelemetry-instrumentation-asgi==0.43b0
opencv-python==4.8.1.78
fire==0.7.0
text-unidecode==1.3
pandas==2.2.3
tomlkit==0.12.0
unstructured==0.12.2
PyWavelets==1.4.1
faiss-cpu==1.7.4
imutils==0.5.4
fqdn==1.5.1
python-multipart==0.0.9
rfc3986==2.0.0
albumentations==1.4.14
smart-open==6.4.0
pulsar-client==3.4.0
diffusers==0.30.3
imageio==2.31.5
ordered-set==4.1.0
pyarrow==18.0.0
effdet==0.4.1
langchain==0.1.1
altair==5.2.0
pymongo==4.6.1
unstructured-inference==0.7.23
fastprogress==1.0.3
pdfplumber==0.10.3
pydub==0.25.1
nest-asyncio==1.6.0
jaraco.classes==3.4.0
gradio_calendar==0.0.4
pyusb==1.2.1
langchain-experimental==0.0.49
prettytable==3.9.0
smmap==5.0.1
pyproj==3.6.1
rank-bm25==0.2.2
termcolor==2.4.0
azure-common==1.1.28
nbformat==5.10.3
pip==24.3.1
install==1.3.5
ptyprocess==0.7.0
outcome==1.3.0.post0
cryptography==42.0.0
aiosignal==1.3.1
olefile==0.47
git-filter-repo==2.45.0
progressbar==2.5
rich==13.7.0
pypdfium2==4.26.0
pyobjc-core==10.1
isoduration==20.11.0
instagrapi==2.0.1
PyYAML==6.0.1
Mako==1.3.2
streamlit-chat==0.1.1
transformers==4.45.1
trio==0.23.1
docx2txt==0.8
scenedetect==0.6.3
dill==0.3.7
tinycss2==1.2.1
jupyter_server==2.13.0
pdfminer.six==20191110
toml==0.10.2
Pygments==2.17.2
opentelemetry-semantic-conventions==0.43b0
pyproject_hooks==1.0.0
lxml==4.9.2
overrides==7.7.0
Flask-SocketIO==5.3.6
pyclipper==1.3.0.post5
webencodings==0.5.1
colorama==0.4.6
langchain-community==0.0.14
httptools==0.6.1
retina-face==0.0.17
confection==0.1.4
PyMsgBox==1.0.9
PyScreeze==0.1.29
chitra==0.2.0
chromadb==0.4.22
cvlib==0.2.7
shapely==2.0.1
astunparse==1.6.3
cycler==0.10.0
roboflow==1.1.27
onnxruntime==1.15.1
ninja==1.11.1
pyscreenshot==3.1
textblob==0.17.1
python-json-logger==2.0.7
msgpack==1.1.0
Levenshtein==0.25.1
curl-cffi==0.5.10
networkx==3.1
defusedxml==0.7.1
python-magic==0.4.27
tomli==2.1.0
lightning-utilities==0.11.7
jsonpointer==2.4
starlette==0.32.0.post1
grpcio-status==1.60.1
httpcore==1.0.5
google-pasta==0.2.0
idna==2.10
protobuf==4.25.2
matplotlib==3.8.0
slugify==0.0.1
dash==2.18.1
pysnmp==5.0.0
py4j==0.10.9.7
qreader==3.12
spacy-legacy==3.0.12
readchar==4.2.0
opentelemetry-exporter-otlp-proto-common==1.22.0
gitdb==4.0.11
thop==0.1.1-2209072238
streamlit==1.32.2
asciimatics==1.15.0
pyinstaller==6.3.0
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
parso==0.8.3
pyperclip==1.8.2
accelerate==0.29.2
six==1.16.0
mypy-extensions==1.0.0
h11==0.14.0
cohere==4.44
plotly==5.24.1
gdown==5.2.0
jaraco.functools==4.0.1
serpapi==0.1.5
GoogleScraper==0.1.1
posthog==3.3.2
runs==1.2.2
argcomplete==1.10.3
jupyter-console==6.6.3
deepdiff==7.0.1
attrs==23.2.0
QtPy==2.4.1
spacy==3.7.2
keras==3.6.0
spacy-loggers==1.0.5
joblib==1.4.2
tensorflow-io-gcs-filesystem==0.37.0
bing-images==0.2.3
typing-inspect==0.9.0
opentelemetry-instrumentation==0.43b0
widgetsnbextension==4.0.10
pytz==2023.3.post1
proglog==0.1.10
IMAPClient==2.1.0
tifffile==2023.9.26
Jinja2==3.1.3
readme_renderer==43.0
jaraco.context==5.3.0
playwright==1.41.0
typer==0.12.3
pkginfo==1.10.0
yarl==1.9.2
traitlets==5.14.2
annotated-types==0.6.0
google_search_results==2.4.2
pyfiglet==1.0.2
PySocks==1.7.1
anyio==4.3.0
fsspec==2023.10.0
notebook==7.1.2
Flask-Mail==0.10.0
murmurhash==1.0.10
catalogue==2.0.10
webcolors==1.13
sympy==1.12
Markdown==3.6
praw==7.7.1
albucore==0.0.14
google-resumable-media==2.7.2
uritemplate==4.1.1
ruff==0.4.8
google-auth-httplib2==0.2.0
ml-dtypes==0.4.1
jupyterlab==4.1.5
pandocfilters==1.5.1
easyocr==1.7.1
GitPython==3.1.42
nbconvert==7.16.3
qrtools==0.0.2
altgraph==0.17.4
docx==0.2.4
fastdownload==0.0.7
optree==0.11.0
jupyter-events==0.10.0
jsonpatch==1.33
pydantic==2.9.2
iopath==0.1.10
lazy_loader==0.3
imgaug==0.4.0
appnope==0.1.4
more-itertools==10.2.0
numpy==1.26.4
torch==2.4.0
thinc==8.2.2
en-core-web-sm==3.7.1
mistune==3.0.2
pyppeteer==1.0.2
torcheval==0.0.7
portalocker==2.8.2
opentelemetry-instrumentation-fastapi==0.43b0
tzdata==2023.3
PyQt5==5.15.10
lmdb==1.5.1
fastcore==1.5.29
Faker==23.2.1
Babel==2.14.0
Flask==2.3.2
fake-useragent==0.1.14
cloudpathlib==0.16.0
onnx==1.15.0
pypdf==4.0.1
python-slugify==8.0.4
packaging==23.2
marshmallow==3.20.2
appdirs==1.4.4
editdistance==0.8.1
PyBoof==0.43.1
json5==0.9.24
torchvision==0.15.2
ifaddr==0.2.0
PyGetWindow==0.0.9
google-cloud-firestore==2.19.0
azure-cognitiveservices-search-imagesearch==2.0.1
python-socketio==5.11.1
google-crc32c==1.6.0
qtconsole==5.5.1
msrest==0.7.1
alembic==1.13.1
pyogrio==0.9.0
ultralytics==8.2.32
async-timeout==4.0.3
parse==1.20.0
stack-data==0.6.3
argon2-cffi==23.1.0
platformdirs==4.2.0
textract==1.6.5
eval_type_backport==0.2.0
kaleido==0.2.1
asttokens==2.4.1
xxhash==3.4.1
filelock==3.12.4
twine==5.0.0
fpdf2==2.7.9
bcrypt==4.1.2
fastai==2.7.13
opentelemetry-util-http==0.43b0
python-engineio==4.9.0
pathspec==0.12.1
oauthlib==3.2.2
weasel==0.3.4
sklearn==0.0.post10
XlsxWriter==3.2.0
sentencepiece==0.1.99
pycparser==2.21
pycocotools==2.0.7
SQLAlchemy==2.0.36
langdetect==1.0.9
pikepdf==8.11.2
frozenlist==1.4.0
pytools==2023.1.1
setproctitle==1.3.3
jedi==0.19.1
uvloop==0.19.0
PyQtWebEngine==5.15.6
fastapi==0.108.0
jupyter_core==5.7.2
prawcore==2.4.0
indian-names==0.3
pure-eval==0.2.2
aiofiles==23.2.1
proto-plus==1.23.0
chroma-hnswlib==0.7.3
isodate==0.7.2
xmod==1.8.1
pyee==8.2.2
jmespath==1.0.1
fonttools==4.43.0
black==24.10.0
bidict==0.23.1
soupsieve==2.5
prompt-toolkit==3.0.43
requests==2.31.0
threadpoolctl==3.2.0
Cython==3.0.10
chardet==4.0.0
python-iso639==2024.1.2
langchain-core==0.1.14
instaloader==4.12
pycryptodome==3.20.0
cffi==1.16.0
importlib-metadata==6.11.0
search-engine-parser==0.6.8
sniffio==1.3.1
Flask-Cors==5.0.0
fastavro==1.9.3
matplotlib-inline==0.1.6
torchinfo==1.8.0
tokenizers==0.20.0
jupyterlab_widgets==3.0.10
screeninfo==0.8.1
flaskwebgui==1.0.8
ebcdic==1.1.1
SpeechRecognition==3.8.1
mdurl==0.1.2
tenacity==8.2.3
tf_keras==2.18.0
thefuzz==0.22.1
python-dateutil==2.9.0.post0
mpmath==1.3.0
ipython-genutils==0.2.0
unstructured.pytesseract==0.3.12
langchain-openai==0.0.3
jupyterlab_pygments==0.3.0
simple-websocket==1.0.0
python-bidi==0.4.2
timm==0.9.12
gunicorn==23.0.0
preshed==3.0.9
sortedcontainers==2.4.0
cssselect==1.2.0
geopandas==1.0.1
typeguard==4.3.0
rsa==4.9
bleach==6.1.0
setuptools==69.5.1
wcwidth==0.2.13
opentelemetry-sdk==1.22.0
python-Levenshtein==0.25.1
google-cloud-storage==2.18.2
charset-normalizer==3.3.2
blinker==1.7.0
urllib3==2.2.1
pyasn1-modules==0.3.0
pyzmq==25.1.2
tzlocal==5.2
antlr4-python3-runtime==4.9.3
itsdangerous==2.1.2
nltk==3.8.1
scikit-learn==1.3.2
tkcalendar==1.6.1
backports.tarfile==1.1.1
pyzbar==0.1.9
zeroconf==0.136.2
websocket-client==1.7.0
debugpy==1.8.1
jupyter==1.0.0
layoutparser==0.3.4
pywebview==4.4.1
azure-core==1.31.0
psutil==5.9.8
google-api-python-client==2.149.0
quadrilateral-fitter==1.8
srsly==2.4.8
zipp==3.17.0
build==1.0.3
chart-studio==1.1.0
ipykernel==6.29.4
openai==1.51.2
python-pptx==0.6.23
blessed==1.20.0
libclang==18.1.1
PyQt5-Qt5==5.15.11
trio-websocket==0.11.1
aiohttp==3.8.5
PyQt5-sip==12.13.0
compressed_rtf==1.0.6
opencv-python-headless==4.10.0.84
Flask-SQLAlchemy==3.1.1
Werkzeug==3.0.1
PyRect==0.2.0
dash-table==5.0.0
orjson==3.9.10
multiprocess==0.70.15
PyJWT==2.8.0
nh3==0.2.17
bottle==0.12.25
banal==1.0.6
fastbook==0.0.29
importlib-resources==6.1.1
cymem==2.0.8
cachetools==5.3.2
watchfiles==0.21.0
python-docx==1.1.0
pysmi==1.5.9
uvicorn==0.25.0
google-generativeai==0.3.2
wheel==0.43.0
googleapis-common-protos==1.62.0
comm==0.2.2
pygame==2.6.1
rpds-py==0.18.0
website==1.1
pyparsing==3.1.1
statsmodels==0.14.4
ultralytics-thop==0.2.8
google-cloud-core==2.4.1
namex==0.0.8
seaborn==0.13.0
python-dotenv==1.0.0
emoji==2.10.0
distro==1.9.0
entrypoint2==1.1
tensorboard==2.18.0
gast==0.5.5
MarkupSafe==2.1.5
jsonpath-python==1.0.6
deepface==0.0.93
greenlet==3.0.3
bingscraper==3.0
requests-html==0.10.0
google==3.0.0
regex==2023.10.3
opt-einsum==3.3.0
docker-pycreds==0.4.0
pytweening==1.0.7
rfc3986-validator==0.1.1
referencing==0.34.0
datasets==2.16.0
fuzzywuzzy==0.18.0
dnspython==2.4.2
dash-core-components==2.0.0
jupyter-lsp==2.2.4
terminado==0.18.1
qrcode==7.4.2
Flask-PyMongo==2.3.0
CacheControl==0.14.0
bert-extractive-summarizer==0.10.1
requests-toolbelt==1.0.0
pyobjc-framework-Cocoa==10.1
PyQtWebEngine-Qt5==5.15.11
lz4==4.3.3
httpx==0.27.0
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
certifi==2023.7.22
bs4==0.0.2
py-cpuinfo==9.0.0
typing_extensions==4.12.2
docutils==0.21.2
gradio==4.37.2
wikipedia==1.4.0
jupyter_client==8.6.1
jiter==0.5.0
pycryptodomex==3.18.0
opentelemetry-api==1.22.0
scipy==1.14.1
twilio==9.0.5
dataset==1.6.2
transforms3d==0.4.1
pyobjc-framework-Security==10.1
text_console==1.0.14
types-python-dateutil==2.9.0.20240316
monotonic==1.6
websockets==10.4
keyring==25.2.0
duckduckgo_search==4.1.1
firebase-admin==6.5.0
graphviz==0.20.1
backoff==2.2.1
ipywidgets==8.1.2
tensorboard-data-server==0.7.2
opentelemetry-proto==1.22.0
pytube==15.0.0
pdf2image==1.17.0
Deprecated==1.2.14
extract-msg==0.28.7
imageio-ffmpeg==0.4.9
gradio_client==1.0.2
mss==9.0.1
EasyProcess==1.1
filetype==1.2.0
PyQRCode==1.2.1
tqdm==4.65.0
toolz==0.12.0
pyobjc-framework-Quartz==10.0
dataclasses-json==0.6.3
pyobjc-framework-WebKit==10.1
jupyter_server_terminals==0.5.3
opentelemetry-exporter-otlp-proto-grpc==1.22.0
prometheus_client==0.20.0
pyquery==2.0.0
safetensors==0.4.1
htmldate==1.6.0
huggingface-hub==0.25.1
ffmpy==0.3.1
beautifulsoup4==4.12.3
hydra-core==1.3.2
pytorch-lightning==2.4.0
proxy-tools==0.1.0
pypng==0.20220715.0
pyARSS==0.2.0
dash-bootstrap-components==1.6.0
httplib2==0.22.0
wsproto==1.2.0
wasabi==1.1.2
patsy==0.5.6
googlesearch-python==1.2.3
asgiref==3.7.2
PyPDF2==3.0.1
libusb1==3.1.0
jsonschema==4.21.1
rubicon-objc==0.4.6
qrdet==2.4
omegaconf==2.3.0
ipython==8.22.2
PyPika==0.48.9
langchain-google-genai==0.0.8
PyMySQL==1.1.0
kubernetes==29.0.0
rapidfuzz==3.9.2
google-api-core==2.17.0
pyarrow-hotfix==0.6
tiktoken==0.5.2
scikit-image==0.21.0
executing==2.0.1
macholib==1.16.3
pytesseract==0.3.10
pyinstaller-hooks-contrib==2023.11
langsmith==0.0.83
click==8.1.7
google-auth==2.26.2
tabulate==0.9.0
requests-oauthlib==1.3.1
notebook_shim==0.2.4
retrying==1.3.4
tornado==6.4
langcodes==3.3.0
Flask-Login==0.6.3
wrapt==1.16.0
mmh3==4.1.0
selenium==4.15.2
PyAutoGUI==0.9.54
azure-mgmt-core==1.4.0
grpcio==1.60.1
sentry-sdk==2.18.0
dash-html-components==2.0.0
blis==0.7.11
